<div id="<%= dom_id movie %>">
  <p class="title">
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p class="rating">
    <strong>Rating:</strong>
    <%= movie.rating %>
  </p>

  <p class="description">
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p class="release">
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

</div>
