<h1 class="movie-heading">Movies</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_col "title", "Title" %></th>
      <th><%= sort_col "rating", "Rating" %></th>
      <th><%= sort_col "release_date", "Release Date" %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show", movie_path(movie, sort: session[:sort], direction: session[:direction]) %></td>      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path(sort: params[:sort], direction: params[:direction]) %>
